.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 35px 0;
    background-color: antiquewhite;
    margin: 0;

}

.nav-link{
    background-color: white;
    padding: 50px 20px;
    color: #22A03A;
    font-weight: bold;
}
.section{
    padding: 30px 40px;
    background-color: aquamarine;
    color: rebeccapurple;
}
.loveCounter{
    color:red;
    font-weight: 800;

}