@import url("https://fonts.googleapis.com/css?family=Patrick+Hand+SC|Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f1f5f8;
  color: #222;
}
.web-heading {
  text-align: center;
}

section h1 {
  color: red;
}
.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.web-heading {
  color: #106b62;
  letter-spacing: 0.16rem;
}

.footer-content {
  background-color: black;
  text-align: center;
  padding: 15px 0;
  color: #f1f5f8;
}

i {
  color: #87d9e0;
  padding: 18px 5px;
  cursor: pointer;
}

.icon-holder {
  padding-top: 9px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.material-icons {
  color: #106b62;
  padding: 18px 5px;
  cursor: pointer;
}
.spec {
  margin-top: 1rem;
}

i,
.material-icons:hover {
  color: blueviolet;
}
.book-name {
  color: rgb(22, 14, 2);
  font-size: 17px;
  color: #106b62;
}
.author {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.1rem;
}
.love {
  color: red;
  font-family: fantasy;
  font-weight: bold;
  font-size: 29px;
}
.loveCounter {
  color: red;
  font-family: fantasy;
  font-weight: bold;
  font-size: 29px;
}
.navlogo {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 40px;
  height: 40px;
}
.blue {
  margin-bottom: 10px;
}
